body{
    margin: auto;
    width: 50%;
   
    padding: 10px;
/*     background-image: url('background1.jpeg'); */
    

}
h1 , p, ul{
    font-family: 'Roboto', sans-serif;
}
a:hover {
    background-color: green;
  }
